﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Sistema de Control", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <div class="container">
        <footer>
            <p class="text-center" style="padding-top:20px;">&copy; @DateTime.Now.Year - Sistema de Control</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/DataManager/readwrite.js"></script>
    <script src="~/Scripts/DataManager/Camera.js"></script>
    <script>
        $(document).ready(function () {
            $(window).unload(
                function () { beforeRemoveVariables(); }
            );
            $.ajax({
                type: 'GET',
                dataType: 'TEXT',
                cache: false,
                url: 'http://172.17.17.20/myLib.php?exists',
                timeout: 5000,
                success: yay,
                error: aww,
                async: false
            });

            if (isImplemented) {
                loadDB();
                controlServer(1);
            }

            for (key in IDToName)
            {
                console.log("data:"+IDToName[key]);
            }

        });

        $('#MARCHAIN').click(function (e) {
            e.preventDefault();
            console.log(e.target.id);
            writeVar(e.target.id, "BOOL", "TRUE");
            setTimeout(writeVar(e.target.id, "BOOL", "FALSE"), 10000);
            return false;
        });

        $('#PARADAIN').click(function (e) {
            e.preventDefault();
            console.log(e.target.id);
            writeVar(e.target.id, "BOOL", "TRUE");
            setTimeout(writeVar(e.target.id, "BOOL", "FALSE"), 10000);
            return false;
        });
    </script>
</body>
</html>
