﻿<div id="cam-img">
    <img id="stream" src="http://invitado:invitado@172.17.17.25:666/mjpg/video.mjpg" width="704" height="576" alt="Recargue la pagina si no carga imagen.." border="0">
</div>
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="padding-top:10px;">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <a class="btn btn-default" href="http://172.17.17.25:666/axis-cgi/com/ptz.cgi?camera=1&move=up" onclick="reload();"><i class="glyphicon glyphicon-arrow-up"></i></a>
        <label>Mover</label>
        <a class="btn btn-default" href="http://172.17.17.25:666/axis-cgi/com/ptz.cgi?camera=1&move=down" onclick="reload();"><i class="glyphicon glyphicon-arrow-down"></i></a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <a class="btn btn-default" href="http://172.17.17.25:666/axis-cgi/com/ptz.cgi?camera=1&move=left" onclick="reload();"><i class="glyphicon glyphicon-arrow-left"></i></a>
        <label>Desplazar</label>
        <a  class="btn btn-default" href="http://172.17.17.25:666/axis-cgi/com/ptz.cgi?camera=1&move=right" oncick="reload();"><i class="glyphicon glyphicon-arrow-right"></i></a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <a class="btn btn-default" href="http://172.17.17.25:666/axis-cgi/com/ptz.cgi?camera=1&rzoom=2500" onclick="reload();"><i class="glyphicon glyphicon-plus"></i></a>
        <label style="padding-left:4px; padding-right:4px;">Zoom</label>
        <a class="btn btn-default" href="http://172.17.17.25:666/axis-cgi/com/ptz.cgi?camera=1&rzoom=-2500" onclick="reload();"><i class="glyphicon glyphicon-minus"></i></a>
    </div>
</div>