﻿@model List<Automatizacion.Models.Module>

<div class="page-header">
    <h2>Módulos</h2>
</div>
<div class="panel-group">
    @foreach (var mod in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" href="#@mod.Name.Replace(" ","-")" style="color:black"><b>@mod.Name</b></a>
            </div>
            <div id="@mod.Name.Replace(" ","-")" class="panel-collapse collapse">
                <div class="panel-body">
                    <dl id="modulesdl" class="dl-horizontal">
                        @foreach ( string k in mod.Data.Keys )
                        {
                            if ( mod.DataTypes[ k ] == Automatizacion.Models.DataType.ReadOnly )
                            {
                                /*if ( mod.Data[ k ] == "TRUE" )
                                {
                                    <label>@k :</label>
                                    <span id="@mod.VarName[k]" class="label-success">Activo</span>
                                }
                                else if ( mod.Data[ k ] == "FALSE" )
                                {
                                    <label>@k :</label>
                                    <span id="@mod.VarName[k]" class="label-danger">Inactivo</span>
                                }*/
                                <dt style="">
                                    @k :
                                </dt>
                                <dd style="">
                                    <span id="@mod.VarName[k]">@(mod.Data[k]=="TRUE"?"Activo":"Inactivo")</span>
                                </dd>

                            }
                            if ( mod.DataTypes[ k ] == Automatizacion.Models.DataType.WriteOnly )
                            {
                                <dt style="">
                                    @k :
                                </dt>
                                <dd style="">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="usr">
                                        <input type="submit" class="btn btn-default" value="Ingresar">
                                    </div>
                                </dd>
                            }
                            if (mod.DataTypes[k] == Automatizacion.Models.DataType.Both)
                            {
                                <dt>
                                    @k :
                                </dt>
                                <dd style="">   
                                    <div>
                                        @mod.Data[k]
                                        <input type="text" id="usr" class="form-control" style="display:inline-block;width:90px;">
                                        <a class="btn btn-default" style="display:inline-block;">Enviar</a>
                                    </div>                                    
                                </dd>

                                <dt></dt>
                                <dd>
                                    
                                </dd>
                            }
                            if ( mod.DataTypes[ k ] == Automatizacion.Models.DataType.Button )
                            {
                                <dt><a id="@(mod.VarName[k])" class="btn btn-@mod.Color[k]">@k</a></dt>
                                <dd></dd>
                            }
                        }
                    </dl>
                </div>
            </div>
        </div>
    }
</div>

