﻿@model List<Automatizacion.Models.Module>
@{
    ViewBag.Title = "Home Page";
}
<div style="padding-top:40px">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        @Html.Partial("_CamView")
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        @Html.Partial("_SensorPanel", Model)
    </div>
</div>